ul{
    list-style: none;
}
.verde{
    margin-top: 50px;
}
.iphone:hover {
    -webkit-transform: rotateY(180deg);
    -webkit-transform-style: preserve-3d;
    transform: rotateY(180deg);
    transform-style: preserve-3d;
}
