

.container {
    margin-top: 25vh;
    display:flex;
    justify-content: center;
    align-content: center;
    flex-direction: column;
}
.yelowCircle{
    padding-left: 500px;
}
.diamond{
    margin-bottom: 500px;
} 
.blueCircle{
    margin-bottom: 350px;
    padding-right: 500px;
}

body{ 
    background-color: white;
}
h2 {
    text-align: center;
    font: color black;
    
}
.phone{
    display:block;
    margin: 0 auto;
    width: 500px;
    margin-bottom: 150px;
    filter: brightness(75%);
    
}

.btnr{
    background-color: #ff4b63;
    margin-bottom: 100px;
    border-radius: 200px;
    
}


.redesSociales{
    display:flex;
    justify-content:space-between 50f, 50f, 50f, 50f;
    
    padding-left: 900px;
    margin-top: 30px;
    margin-bottom: 50px;
}


@keyframes parpadeo {
    0% {
        opacity: 1.0;
    }

    50% {
        opacity: 0.0;
    }

    100% {
        opacity: 1.0;
    }
}
li{
    list-style: none;
}
.listas{
    display: flex;
    justify-content:left;
    align-content: space-between;
    margin-bottom: 20px;
    margin-top: 15px;
}
#texto {
    color: black;
}